.filter {
  padding: 24px 100px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.visibleCtrl {
  padding-right: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.visibleCtrl > span {
  cursor: pointer;
}
