.container {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 60px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}
.action {
  width: 100%;
  height: 100%;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: dashed 3px #12899c;
  font-size: 18px;
  padding: 20px;
  box-sizing: border-box;
}
.hint {
  color: #12899c;
}