.filter {
  padding: 24px 100px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.canvasWrapper {
  position: relative;
}
.topItems {
  position: absolute;
  left: 60%;
  top: 0;
  width: 700px;
  z-index: 100;
  zoom: 0.9;
}
