html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
}
.sider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spin {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
